<section class="catalog-section">
    <div class="container">
        <h2 class="catalog-page-title">Catalog</h2>
        <div>
            <ul class="catalog-list">
                <li class="catalog-item">
                    <div class="catalog-set">
                        <picture>

                            <source
                                srcset="./img/catalog/catalog_desktop/fenix-desktop-min.png 1x, ./img/catalog/catalog_desktop/fenix-desktop@2x-min.png 2x"
                                media="(min-width: 1280px)">
                            <source
                                srcset="./img/catalog/catalog_tab/fenix-tab-min.png 1x, ./img/catalog/catalog_tab/fenix-tab@2x-min.png 2x"
                                media="(min-width: 768px)">
                            <source
                                srcset="../img/catalog/catalog_mob/fenix-min.png 1x, ./img/catalog/catalog_mob/fenix@2x-min.png 2x"
                                media="(max-width: 767px)">
                            <img src="../img/catalog/catalog_mob/fenix-min.png" alt="retina image">

                        </picture>
                    </div>
                    <div class="modal-price-catalog">
                        <p class="watch-modal-catalog">Garmin Fenix 7X Pro Sapphire Solar</p>
                        <p class="price-watch-catalog">€500</p>
                    </div>
                </li>

                <li class="catalog-item">
                    <div class="catalog-set">
                        <picture>
                            <source
                                srcset="./img/catalog/catalog_desktop/marq-desktop-min.png 1x, ./img/catalog/catalog_desktop/marq-desktop@2x-min.png 2x"
                                media="(min-width: 1280px)">
                            <source
                                srcset="./img/catalog/catalog_tab/marq-tab-min.png 1x, ./img/catalog/catalog_tab/marq-tab@2x-min.png 2x"
                                media="(min-width: 768px)">
                            <source
                                srcset="./img/catalog/catalog_mob/marq-min.png 1x, ./img/catalog/catalog_mob/marq@2x-min.png 2x"
                                media="(max-width: 767px)">
                            <img src="./img/catalog/catalog_mob/marq-min.png" alt="retina image">
                        </picture>
                    </div>
                    <div class="modal-price-catalog">
                        <p class="watch-modal-catalog">Garmin Marq Athlete</p>
                        <p class="price-watch-catalog">€450</p>
                    </div>
                </li>
                <li class="catalog-item">
                    <div class="catalog-set">
                        <picture>
                            <source
                                srcset="./img/catalog/catalog_desktop/descent-desktop-min.png 1x, ./img/catalog/catalog_desktop/descent-desktop@2x-min.png 2x"
                                media="(min-width: 1280px)">
                            <source
                                srcset="./img/catalog/catalog_tab/descent-tab-min.png 1x, ./img/catalog/catalog_tab/descent-tab@2x-min.png 2x"
                                media="(mix-width: 768px)">
                            <source
                                srcset="./img/catalog/catalog_mob/descent-min.png 1x, ./img/catalog/catalog_mob/descent@2x-min.png 2x"
                                media="(max-width: 767px)">
                            <img src="./img/catalog/catalog_mob/descent-min.png" alt="retina image">
                        </picture>
                    </div>
                    <div class="modal-price-catalog">
                        <p class="watch-modal-catalog">Garmin Descent MK1</p>
                        <p class="price-watch-catalog">€680</p>
                    </div>
                </li>
                <li class="catalog-item">
                    <div class="catalog-set">
                        <picture>
                            <source
                                srcset="./img/catalog/catalog_desktop/delta-desktop-min.png 1x, ./img/catalog/catalog_desktop/delta-desktop@2x-min.png 2x"
                                media="(min-width: 1280px)">
                            <source
                                srcset="./img/catalog/catalog_tab/delta-tab-min.png 1x, ./img/catalog/catalog_tab/delta-tab@2x-min.png 2x"
                                media="(mix-width: 768px)">
                            <source
                                srcset="./img/catalog/catalog_mob/delta-min.png 1x ./img/catalog/catalog_mob/delta@2x-min.png 2x"
                                media="(max-width: 767px)">
                            <img src="../img/catalog/catalog_mob/delta-min.png" alt="retina image">
                        </picture>
                    </div>
                    <div class="modal-price-catalog">
                        <p class="watch-modal-catalog">Garmin D2 Delta PX</p>
                        <p class="price-watch-catalog">€380</p>
                    </div>
                </li>
                <li class="catalog-item catalog-item-none">
                    <div class="catalog-set">
                        <picture>
                            <source
                                srcset="./img/catalog/catalog_desktop/solar-desktop-min.png 1x, ./img/catalog/catalog_desktop/solar-desktop@2x-min.png 2x"
                                media="(min-width: 1280px)">
                            <source
                                srcset="./img/catalog/catalog_tab/solar-tab-min.png 1x, ./img/catalog/catalog_tab/solar-tab@2x-min.png 2x"
                                media="(mix-width: 768px)">

                            <img src="./img/catalog/catalog_tab/solar-tab-min.png" alt="retina image">
                        </picture>
                    </div>
                    <div class="modal-price-catalog">
                        <p class="watch-modal-catalog">Garmin Fenix 6 Pro Solar</p>
                        <p class="price-watch-catalog">€400</p>
                    </div>
                </li>
                <li class="catalog-item catalog-item-none">
                    <div class="catalog-set">
                        <picture>
                            <source
                                srcset="./img/catalog/catalog_desktop/date-desktop-min.png 1x, ./img/catalog/catalog_desktop/date-desktop@2x-min.png 2x"
                                media="(min-width: 1280px)">
                            <source
                                srcset="../img/catalog/catalog_tab/date-tab-min.png 1x, ./img/catalog/catalog_tab/date-tab@2x-min.png 2x"
                                media="(mix-width: 768px)">
                            <img src="../img/catalog/catalog_tab/date-tab-min.png" alt="retina image">
                        </picture>
                    </div>
                    <div class="modal-price-catalog">
                        <p class="watch-modal-catalog">Tube Watch S42 Date Steel With Black Case</p>
                        <p class="price-watch-catalog">€395</p>
                    </div>
                </li>
            </ul>
        </div>
        <button class="btn catalog-btn" type="button">Show more</button>

    </div>

</section>