<section class="contact-us-section" id="#contact-us">
  <div class="container">
    <h2 class="contact-title">Contact Us</h2>
    <div class="contact-box">
      <div class="form-box">
        <p class="contact-text">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>
        <form class="contact-form" name="contact-form" autocomplete="on">
          <div class="contact-field-box">
            <label for="user-name"></label>
            <input class="contact-field-input" type="text" id="user-name" name="username" placeholder="Name" required />
          </div>
          <div class="contact-field-box">
            <label for="user-mail"></label>
            <input class="contact-field-input" type="text" id="user-mail" name="user-mail" placeholder="Email"
              required />
          </div>
          <div class="contact-field-box">
            <label for="user-tel"></label>
            <input class="contact-field-input" type="text" id="user-tel" name="user-tel" placeholder="+380" required />
          </div>
          <div class="contact-field-comment">
            <label for="user-comment"></label>
            <textarea class="contact-field-textarea" name="user-comment" id="user-comment"
              placeholder="Comment"></textarea>
          </div>
          <button class="btn contact-btn" type="submit">Send</button>
        </form>
      </div>

      <picture class="contact-img">
        <source media="(min-width: 1280px)" srcset="
            ./img/contact/contact-desk.png    1x,
            ./img/contact/contact-desk@2x.png 2x
          " />
        <source media="(min-width: 768px)" srcset="
            ./img/contact/contact-tablet.png    1x,
            ./img/contact/contact-tablet@2x.png 2x
          " />
        <source media="(max-width: 767px)" srcset="
            ./img/contact/contact-mob.png    1x,
            ./img/contact/contact-mob@2x.png 2x
          " />
        <img src="./img/contact/contact-mob.png" alt="contact-watch" />
      </picture>
    </div>
  </div>
</section>