<section class="container">
    <h2 class="contact-title">Contact Us</h2>
    <div class="contact-box">
        <div class="form-box">
            <p class="contact-par">Please use the form below to contact us. Enter your name, email, phone, and
                message and we'll get
                back to you shortly.</p>

            <form class="contact-form" name="contact-form" autocomplete="on">
                <div class="contact-field-box">
                    <label for="user-name"></label>
                    <input class="contact-field-input" type="text" id="user-name" name="usernames" placeholder="Name"
                        required>
                </div>
                <div class="contact-field-box">
                    <label for="user-mail"></label>
                    <input class="contact-field-input" type="text" id="user-mail" name="usermails" placeholder="Email"
                        required>
                </div>
                <div class="contact-field-box">
                    <label for="user-tel"></label>
                    <input class="contact-field-input" type="text" id="user-tel" name="userstel" placeholder="+380"
                        required>
                </div>
                <div class="contact-field-comment">
                    <label for="user-comment"></label>
                    <textarea class="contact-field-textarea" name="comment" id="user-comment" cols="30" rows="10"
                        placeholder="Comment"></textarea>
                </div>
                <button class="btn" type="submit">Send</button>
            </form>
        </div>





        <img src="./img/contact/contact-img.jpg" width="530px" height="556px" alt="rectangle">
    </div>







</section>