<footer class="container footer-container">
  <div class="footer">
    <div class="social-container">
      <div class="footer-main">
        <a class="logo footer-logo" href="./index.html">watchcharm</a>
      </div>
      <ul class="footer-social-link">
        <li class="social-icon">
          <a
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            class="footer-link"
            ><svg class="icon" width="18" height="18">
              <use href="../img/icons.svg#icon-facebook"></use></svg
          ></a>
        </li>
        <li class="social-icon">
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            class="footer-link"
            ><svg class="icon" width="18" height="18">
              <use href="../img/icons.svg#icon-instagram"></use></svg
          ></a>
        </li>
        <li class="social-icon">
          <a
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            class="footer-link"
            ><svg class="icon" width="18" height="18">
              <use href="../img/icons.svg#icon-youtube"></use></svg
          ></a>
        </li>
      </ul>
      <address class="address" id="our-contacts">
        <ul>
          <li>
            <a class="address-link" href="tel:+380684439426"
              >+380 (68) 443-94-26</a
            >
          </li>
        </ul>
      </address>
      <p class="footer-text">
        Have the time of your life with our watches: where high-class
        craftsmanship meets impeccable design
      </p>
    </div>
    <div class="navigation">
      <nav class="nav-title">
        <ul class="nav-list">
          <li class="nav-link"><a href="#home">Home</a></li>
          <li class="nav-link"><a href="#about-us">About Us</a></li>
          <li class="nav-link"><a href="#catalog">Catalog</a></li>
          <li class="nav-link"><a href="#sale">Sale</a></li>
          <li class="nav-link"><a href="#reviews">Reviews</a></li>
          <li class="nav-link"><a href="#contact-us">Contact Us</a></li>
        </ul>
      </nav>
      <p class="address-item">1678 S. Pioneer Road Salt Lake City UT 84104</p>
    </div>
    <div class="current">
      <ul class="privacy-container">
        <li class="privacy-policy">
          ©2023 The Watch Spot. All rights reserved.
        </li>
        <li class="privacy-policy">Terms of Service</li>
        <li class="privacy-policy">Privacy Policy</li>
      </ul>
    </div>
  </div>
</footer>
