<body>
  <header class="header">
    <div class="header-div-menu">
      <a href="./header.html" class="logo">watchcharm</a>
      <ul class="header-menu">
        <li class="header-list">
          <a href="./hero.html" class="header-link">Home</a>
        </li>
        <li class="header-list">
          <a href="./about-us.html" class="header-link">About Us</a>
        </li>
        <li class="header-list">
          <a href="./catalog.html" class="header-link">Catalog</a>
        </li>
        <li class="header-list">
          <a href="./sale.html" class="header-link">Sale</a>
        </li>
        <li class="header-list">
          <a href="./reviews.html" class="header-link">Reviews</a>
        </li>
        <li class="header-list">
          <a href="./contact-us.html" class="header-link">Contact Us</a>
        </li>
      </ul>
    </div>

    <div class="header-div-icons">
      <ul class="header-menu-icons">
        <li class="header-list-icons">
          <a href="" class="header-list-icons-link">
            <svg class="heared-icons" width="36" height="36">
              <use href="../img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-list-icons">
          <a href="" class="header-list-icons-link">
            <svg class="heared-icons" width="36" height="36">
              <use href="../img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-list-icons">
          <a href="" class="header-list-icons-link">
            <svg class="heared-icons" width="36" height="36">
              <use href="../img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </header>
</body>
