<header class="page-header">
  <div class="container header-container">
    <nav class="page-navigation">
      <a class="logo" href="./index.html">watchcharm</a>
      <ul class="header-menu">
        <li class="header-menu-item">
          <a class="header-menu-link active" href="./index.html">Home</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#about-us">About Us</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#catalog">Catalog</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#sale">Sale</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#reviews">Reviews</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#contact-us">Contact Us</a>
        </li>
      </ul>
    </nav>
    <button data-modal-open class="mobile-menu-open-btn" type="button">
      <svg class="mobile-menu-open-btn-icon" width="28" height="14">
        <use href="./img/icons.svg#icon-menu-btn"></use>
      </svg>
    </button>
    <div class="header-social-block">
      <ul class="header-social-menu">
        <li class="header-social-item">
          <a href="https://www.facebook.com/goITclub/" target="_blank">
            <svg class="header-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a href="https://www.instagram.com/goitclub/" target="_blank">
            <svg class="header-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a href="https://www.youtube.com/c/GoIT" target="_blank">
            <svg class="header-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
