<section class="hero">
    <div class="condainer">
        <div class="slogan">
            <h1 class="hero-title">Welcome to our <span class="hero-title-accent">collection</span> of premium watches
            </h1>
            <p class="hero-text">Our watches are not just timepieces, but also an expression of your personality and
                lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.</p>
        </div>
        <div class="scroll-down-div">
            <img class="employee-link" src="./img/hero/employee.png" alt="employee icons" width="146" height="60">
            <a class="scroll-down-link" href="#scroll-down">Scroll down</a>
        </div>
        <img src="./img/hero/clock-bg-mob.jpg" alt="clock ground" class="hero-ground" width="335" height="366">
    </div>
</section>