<section class="hero">
  <div class="container hero-section">
    <div class="hero-box-container">
      <div class="slogan">
        <h1 class="hero-title">
          Welcome to our <span class="hero-title-accent">collection</span> of
          premium watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="scroll-down-div">
        <div class="employee">
          <img srcset="../img/hero/emrloyee-3.jpg 1x,
                       ../img/hero/emrloyee-3@2x.jpg 2x" src="../img/hero/emrloyee-3.jpg" alt="employee icons"
            class="employee-pos relativ-3" />
          <img srcset="../img/hero/emrloyee-2.jpg 1x,
                     ../img/hero/emrloyee-2@2x.jpg 2x" src="../img/hero/emrloyee-2.jpg" alt="employee icons"
            class="employee-pos relativ-2" />
          <img srcset="../img/hero/emrloyee-1.jpg 1x,
                       ../img/hero/emrloyee-1@2x.jpg 2x" src="../img/hero/emrloyee-1.jpg" alt="employee icons"
            class="employee-pos relativ-1" />
        </div>
        <a class="scroll-down-link" href="#scroll-down">Scroll down</a>
      </div>
    </div>
    <picture>
      <source srcset="
          ./img/hero/clock-bg-desk.jpg    1x,
          ./img/hero/clock-bg-desk@2x.jpg 2x
        " media="(min-width: 1280px)" />
      <source srcset="
          ./img/hero/clock-bg-tab.jpg    1x,
          ./img/hero/clock-bg-tab@2x.jpg 2x
        " media="(min-width: 768px)" />
      <source srcset="
          ./img/hero/clock-bg-mob.jpg    1x,
          ./img/hero/clock-bg-mob@2x.jpg 2x
        " media="(max-width: 767px)" />

      <img src="./img/hero/clock-bg-mob.jpg" alt="clock ground" class="hero-ground" />
    </picture>
  </div>
</section>