<section class="modal-menu">
  <button class="close-btn">
    <svg class="close-icon" aria-label="Close icon">
      <use href="../img/icons.svg#icon-close"></use>
    </svg>
  </button>
  <ul class="modal-links-list">
    <li class="modal-list-item"><a href="" class="modal-list-link">Home</a></li>
    <li class="modal-list-item">
      <a href="" class="modal-list-link">About Us</a>
    </li>
    <li class="modal-list-item">
      <a href="" class="modal-list-link">Catalog</a>
    </li>
    <li class="modal-list-item"><a href="" class="modal-list-link">Sale</a></li>
    <li class="modal-list-item">
      <a href="" class="modal-list-link">Reviews</a>
    </li>
    <li class="modal-list-item">
      <a href="" class="modal-list-link">Contact Us</a>
    </li>
  </ul>
  <ul class="modal-social-media-list">
    <li class="modal-social-media-item">
      <svg class="modal-social-media-icon" aria-label="Facebook">
        <use href="./img/icons.svg#icon-facebook"></use>
      </svg>
    </li>
    <li class="modal-social-media-item">
      <svg class="modal-social-media-icon" aria-label="Instagram">
        <use href="./img/icons.svg#icon-instagram"></use>
      </svg>
    </li>
    <li class="modal-social-media-item">
      <svg class="modal-social-media-icon" aria-label="YouTube">
        <use href="./img/icons.svg#icon-youtube"></use>
      </svg>
    </li>
  </ul>
</section>
