<section class="review-section">
  <div class="container">
    <h2 class="review-title">Reviews</h2>
    <ul class="review-list">
      <li class="review-list-item">
        <img
          srcset="./img/reviews-img/john-wax@2x.png 2x"
          src="./img/reviews-img/john-wax.png"
          alt="Victoria Romashenko"
          class="review-img"
        />
        <h3 class="review-name">John Wax</h3>
        <p class="review-text">
          Buying a watch from was the best choice for me. The design is
          perfectly combined with high quality materials. The strap fits nicely
          on the hand, and the mechanism works flawlessly.
        </p>
      </li>

      <li class="review-list-item">
        <img
          srcset="./img/reviews-img/victoria@2x.png 2x"
          src="./img/reviews-img/victoria.png"
          alt="Victoria Romashenko"
          class="review-img"
        />
        <h3 class="review-name">Victoria Romashenko</h3>
        <p class="review-text">
          Can't take my eyes off my watch from. Every time I put it on, it is
          admired by those around me. The build quality and attention to detail
          make it a real gem among my accessories.
        </p>
      </li>
      <li class="review-list-item">
        <img
          srcset="./img/reviews-img/anastasia@2x.png 2x"
          src="./img/reviews-img/anastasia.png"
          alt="Anastasia Trachuk"
          class="review-img"
        />
        <h3 class="review-name">Anastasia Trachuk</h3>
        <p class="review-text">
          My watch from is a real masterpiece. Every detail impresses with the
          high quality of execution. Special features like [specify features]
          make it an indispensable companion in my daily life.
        </p>
      </li>
    </ul>
  </div>
</section>
