<section class="page-sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-wrap">
      <div class="sale-list-clock">
        <ul class="sale-list">
          <li class="sale-item">
            <picture>
              <source
                srcset="
                  ./img/sale/sale-tablet-desktop1.png    1x,
                  ./img/sale/sale-tablet-desktop1@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/sale/sale-clock1.png    1x,
                  ./img/sale/sale-clock1@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img src="./img/sale/sale-clock1.png" alt="watch" />
            </picture>
          </li>
          <li class="sale-item">
            <picture>
              <source
                srcset="
                  ./img/sale/sale-tablet-desktop2.png    1x,
                  ./img/sale/sale-tablet-desktop2@2x.png 2x
                "
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  ./img/sale/sale-clock2.png    1x,
                  ./img/sale/sale-clock2@2x.png 2x
                "
                media="(max-width: 767px)"
              />

              <img src="./img/sale/sale-clock2.png" alt="watch" />
            </picture>
          </li>
          <li class="sale-item">
            <picture>
              <source
                srcset="
                  ./img/sale/sale-tablet-desktop3.png    1x,
                  ./img/sale/sale-tablet-desktop3@2x.png 2x
                "
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  ./img/sale/sale-clock3.png    1x,
                  ./img/sale/sale-clock3@2x.png 2x
                "
                media="(max-width: 767px)"
              />

              <img src="./img/sale/sale-clock3.png" alt="watch" />
            </picture>
          </li>
          <li class="sale-item">
            <picture>
              <source
                srcset="
                  ./img/sale/sale-tablet-desktop4.png    1x,
                  ./img/sale/sale-tablet-desktop4@2x.png 2x
                "
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  ./img/sale/sale-clock4.png    1x,
                  ./img/sale/sale-clock4@2x.png 2x
                "
                media="(max-width: 767px)"
              />

              <img src="./img/sale/sale-clock4.png" alt="watch" />
            </picture>
          </li>
        </ul>
        <div class="sale-main-clock">
          <picture>
            <source
              srcset="
                ./img/sale/sale-tablet-desktop5.png    1x,
                ./img/sale/sale-tablet-desktop5@2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./img/sale/sale-clock5.png    1x,
                ./img/sale/sale-clock5@2x.png 2x
              "
              media="(max-width: 767px)"
            />

            <img src="./img/sale/sale-clock5.png" alt="watch" />
          </picture>
        </div>
      </div>
      <div class="sale-box">
        <h3 class="sale-box-title">
          MARQ&reg; Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="sale-tag">Product tag: 706587</p>
        <div class="sale-price">
          <span class="sale-discount">€1500</span
          ><span class="sale-price-last">€3000</span>
        </div>
        <p class="sale-description">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="sale-type-clock-list">
          <li class="sale-type-clock-item">Fused carbon fiber</li>
          <li class="sale-type-clock-item">Grade-5 Titanuim</li>
          <li class="sale-type-clock-item">Athlete</li>
          <li class="sale-type-clock-item">Golfer</li>
          <li class="sale-type-clock-item">Commander</li>
          <li class="sale-type-clock-item">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>
