body {
  font-family: 'Gilroy', sans-serif;
  background-color: #ffffff;
  color: #0c0c0c;
}
section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media only screen and (min-width: 1280px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .container {
    max-width: 1280px;
    padding-left: 65px;
    padding-right: 65px;
  }
}
.btn {
  min-width: 160px;
  height: 48px;
  border: none;
  border-radius: 16px;
  background-color: #3350e9;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;
  outline: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: #1f3cd4;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}
.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
