.catalog-item-none {
  display: none;
}

.catalog-page-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}

.catalog-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.catalog-item {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  max-width: 335px;
  background: #f3f3f3;
  padding: 24px 28px 24px 28px;
}

.catalog-set {
  max-width: 279px;
  padding: 18px 35px 18px 35px;
  margin-bottom: 10px;
}

.model-details {
  max-width: 279px;
}

.watch-model-name {
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}
.watch-model-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}

.catalog-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
