img {
  display: block;
}
form {
  display: block;
}

.contact-box {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.form-box {
  width: 580px;
  height: 556px;
  flex-grow: 0;
  padding: 50px 60px;
  object-fit: contain;
  border-radius: 50px;
  background-color: #f3f3f3;
}
.contact-title {
  margin-bottom: 40px;
  /* text */
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.contact-par {
  margin-bottom: 32px;
  /* text */
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}
.contact-field-box {
  position: relative;
  margin-bottom: 18px;
}
.contact-field-comment {
  margin-bottom: 32px;
}
.contact-field-input {
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  width: 100%;
  height: 100%;
  outline: transparent;
  padding: 16px 18px;
  background-color: transparent;
}
.contact-field-textarea {
  width: 460px;
  height: 90px;
  padding: 16px 16px;
  border-radius: 12px;
  border: solid 1px #0c0c0c26;
  resize: none;
  background-color: transparent;
}
.contact-btn {
}
