form {
  display: block;
}

.contact-img {
}
.contact-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-box {
  min-width: 335px;
  height: 100%;
  flex-grow: 0;
  padding: 48px 28px;
  border-radius: 30px;
  background-color: #f3f3f3;
}
.contact-title {
  margin-bottom: 28px;
  /* text */
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.contact-par {
  margin-bottom: 28px;
  /* text */
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}
.contact-field-box {
  position: relative;
  margin-bottom: 18px;
}
.contact-field-comment {
  margin-bottom: 28px;
}
.contact-field-input {
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  width: 100%;
  height: 52px;
  outline: transparent;
  padding: 16px 18px;
  background-color: transparent;
  /* text */
}

.contact-field-input::placeholder,
.contact-field-textarea::placeholder {
  /* text */
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: #0c0c0c;
}
.contact-field-input:focus,
.contact-field-input:hover,
.contact-field-textarea:focus,
.contact-field-textarea:hover {
  border-color: #3350e9;
}
.contact-field-textarea {
  width: 100%;
  height: 84px;
  padding: 12px 14px;
  border-radius: 12px;
  border: solid 1px #0c0c0c26;
  resize: none;
  background-color: transparent;
  outline: transparent;
}
.contact-btn {
  min-width: 134px;
  height: 42px;
  border: none;
  border-radius: 16px;
  background-color: #3350e9;
  /* text */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;
  outline: transparent;
}

.contact-btn:hover,
.contact-btn:focus {
  background-color: #1f3cd4;
}
