.hero {
    padding-top: 60px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.hero-box-container {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.hero-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 0.95;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
}

.hero-title-accent {
    color: #3350e9;
}

.hero-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
}

.scroll-down-div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.scroll-down-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.scroll-down-link:hover,
.scroll-down-link:focus {
    color: #3350e9;
}

.hero-ground {
    max-width: 335px;
    border-radius: 30px;
    overflow: hidden;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .hero {
        padding-top: 80px;
        padding-right: 32px;
        padding-left: 32px;
    }

    .hero-section {
        gap: 40px;
    }

    .hero-box-container {
        flex-direction: row;
        justify-content: space-between;
        gap: 11px;
    }

    .slogan {
        max-width: 557px;
    }

    .hero-title {
        font-size: 70px;
        line-height: 0.86;
    }

    .hero-text {
        font-size: 16px;
        line-height: 1.25;
        width: 480px;
    }

    .scroll-down-div {
        flex-direction: column;
    }

    .scroll-down-link {
        font-size: 20px;
        line-height: 1;
    }

    .hero-ground {
        max-width: 704px;
        border-radius: 50px;
    }
}

@media only screen and (min-width: 1280px) {
    .hero {
        padding-right: 65px;
        padding-left: 65px;
    }

    .slogan {
        max-width: 597px;
    }

    .hero-title {
        font-size: 72px;
    }

    .hero-ground {
        max-width: 1150px;
    }
}