.review-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}

.review-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-list-item {
  margin: 0 auto;
  border-radius: 30px;
  padding: 32px 36px;
  background: #f3f3f3;
}

@media only screen and (max-width: 767px) {
  .review-list-item {
    max-width: 335px;
  }

  .review-list-item:not(:first-child) {
    display: none;
  }
}

.review-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

.review-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.review-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(12, 12, 12, 0.4);
  max-width: 263px;
}

@media only screen and (min-width: 768px) {
  .review-title {
    font-size: 48px;
    margin-bottom: 40px;
    line-height: 0.92;
  }

  .review-list {
    gap: 16px;
  }

  .review-list-item {
    width: calc((100% - 16px) / 2);
  }

  .review-list-item:last-child {
    display: none;
  }

  .review-name {
    font-size: 18px;
    line-height: 1.1;
  }

  .review-text {
    font-size: 16px;
    max-width: 272px;
  }
}

@media only screen and (min-width: 1280px) {
  .review-list {
    gap: 20px;
  }

  .review-list-item {
    width: calc((100% - 40px) / 3);
  }

  .review-list-item:last-child {
    display: inline;
  }

  .review-text {
    max-width: 298px;
  }
}
